

@{

    var username = "";

    if (User.Identity.IsAuthenticated)
    {
        var userdata = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(User.Identity.Name);
        username = userdata["Username"];

    }


}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("All User Birthdays", "AllUserBirthdays", "Home")</li>


                    <li>@Html.ActionLink("Any Birthdays This Month?", "ThisMonthBirthday", "Home")</li>
                    

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @username <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Home/Index">To Be Implemented</a></li>
                                
                                <li role="separator" class="divider"></li>
                                <li><a href="/Auth/Logout" onclick="return confirm('Are you sure you want to logout?')">Logout</a></li>
                            </ul>
                        </li>
                        }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Auth")</li>
                    }



                    
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
