@model User
<h1>Register</h1>

@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(x => x.Username)
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })

            </div>
            <div class="form-group">

                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })


            </div>
            <div class="form-group">

                @Html.LabelFor(x => x.BirthDay)
                <br />
                @Html.EditorFor(x => x.BirthDay, new { htmlAttributes = new { @type = "date", @placeholder = "Date Of Birth" } })
                @Html.ValidationMessageFor(x => x.BirthDay, "", new { @class = "text-danger" })


            </div>
            <button class="btn btn-success btn-block">Register</button>
            <a href="/Auth/Login" class="btn btn-info btn-block">Login</a>

            @if (ViewBag.Message != null)
            {
                <p style="color:red">@ViewBag.Message</p>
            }


        </div>

    </div>

    @section scripts{
        <script>
            $(document).ready(function () {
                $(".datepicker").datepicker({
                    dateFormat: "dd-mm-yy",
                    changemonth: true,
                    changeyear: true
                });
            });
        </script>
    }



}

